<p class="lead">
  All Posts
  <hr/>
</p>  

<% if @posts %>
  <% @posts.each do |post| %>
    <div class="row">
      <div class="span8 well">
        <h4><%= post.title %></h4>
      </div>
    </div>
  <% end %>  
<% end %>  

<div class="row">
  <div class="span8 well">
    <h4>blah</h4>
  </div>
</div>